In [15]:
pip install yfinance

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: yfinance in /home/kayaba/.local/lib/python3.10/site-packages (0.2.20)
Requirement already satisfied: numpy>=1.16.5 in /home/kayaba/.local/lib/python3.10/site-packages (from yfinance) (1.23.5)
Requirement already satisfied: requests>=2.26 in /home/kayaba/.local/lib/python3.10/site-packages (from yfinance) (2.28.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /home/kayaba/.local/lib/python3.10/site-packages (from yfinance) (4.11.2)
Requirement already satisfied: pandas>=1.3.0 in /home/kayaba/.local/lib/python3.10/site-packages (from yfinance) (1.5.3)
Requirement already satisfied: cryptography>=3.3.2 in /home/kayaba/.local/lib/python3.10/site-packages (from yfinance) (40.0.2)
Requirement already satisfied: multitasking>=0.0.7 in /home/kayaba/.local/lib/python3.10/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: pytz>=2022.5 in /home/kayaba/.local/lib/python3.10/site-packages (from yfinance) (2022.7.1)
Requirement already satisfied: html5lib>=1.1 in /home/kayaba/.local/lib/python3.10/site-packages (from yfinance) (1.1)
Requirement already satisfied: lxml>=4.9.1 in /home/kayaba/.local/lib/python3.10/site-packages (from yfinance) (4.9.2)
Requirement already satisfied: frozendict>=2.3.4 in /home/kayaba/.local/lib/python3.10/site-packages (from yfinance) (2.3.8)
Requirement already satisfied: appdirs>=1.4.4 in /home/kayaba/.local/lib/python3.10/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: soupsieve>1.2 in /home/kayaba/.local/lib/python3.10/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: cffi>=1.12 in /home/kayaba/.local/lib/python3.10/site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /home/kayaba/.local/lib/python3.10/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/lib/python3/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/kayaba/.local/lib/python3.10/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/lib/python3/dist-packages (from requests>=2.26->yfinance) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in /home/kayaba/.local/lib/python3.10/site-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/kayaba/.local/lib/python3.10/site-packages (from requests>=2.26->yfinance) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /home/kayaba/.local/lib/python3.10/site-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: pycparser in /home/kayaba/.local/lib/python3.10/site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

In [17]:
BBRI=yf.Ticker("BBRI.JK")

In [18]:
BBRI.history_metadata

{'currency': 'IDR',
 'symbol': 'BBRI.JK',
 'exchangeName': 'JKT',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 1068429600,
 'regularMarketTime': 1686906891,
 'gmtoffset': 25200,
 'timezone': 'WIB',
 'exchangeTimezoneName': 'Asia/Jakarta',
 'regularMarketPrice': 5550.0,
 'chartPreviousClose': 5425.0,
 'previousClose': 5525.0,
 'scale': 3,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'WIB',
   'start': 1686879900,
   'end': 1686880800,
   'gmtoffset': 25200},
  'regular': {'timezone': 'WIB',
   'start': 1686880800,
   'end': 1686906000,
   'gmtoffset': 25200},
  'post': {'timezone': 'WIB',
   'start': 1686906000,
   'end': 1686906900,
   'gmtoffset': 25200}},
 'tradingPeriods':                                           pre_start                   pre_end  \
 Date
 2023-06-12 00:00:00+07:00 2023-06-09 08:45:00+07:00 2023-06-09 09:00:00+07:00
 2023-06-13 00:00:00+07:00 2023-06-12 08:45:00+07:00 2023-06-12 09:00:00+07:00
 2023-06-14 00:00:00+07:00 2023-06-13 08:45:00+07:00 2023-06-13 09:00:00+07:00
 2023-06-15 00:00:00+07:00 2023-06-14 08:45:00+07:00 2023-06-14 09:00:00+07:00
 2023-06-16 00:00:00+07:00 2023-06-15 08:45:00+07:00 2023-06-15 09:00:00+07:00

                                               start                       end  \
 Date
 2023-06-12 00:00:00+07:00 2023-06-12 09:00:00+07:00 2023-06-12 16:00:00+07:00
 2023-06-13 00:00:00+07:00 2023-06-13 09:00:00+07:00 2023-06-13 16:00:00+07:00
 2023-06-14 00:00:00+07:00 2023-06-14 09:00:00+07:00 2023-06-14 16:00:00+07:00
 2023-06-15 00:00:00+07:00 2023-06-15 09:00:00+07:00 2023-06-15 16:00:00+07:00
 2023-06-16 00:00:00+07:00 2023-06-16 09:00:00+07:00 2023-06-16 16:00:00+07:00

                                          post_start                  post_end
 Date
 2023-06-12 00:00:00+07:00 2023-06-09 16:00:00+07:00 2023-06-09 16:15:00+07:00
 2023-06-13 00:00:00+07:00 2023-06-12 16:00:00+07:00 2023-06-12 16:15:00+07:00
 2023-06-14 00:00:00+07:00 2023-06-13 16:00:00+07:00 2023-06-13 16:15:00+07:00
 2023-06-15 00:00:00+07:00 2023-06-14 16:00:00+07:00 2023-06-14 16:15:00+07:00
 2023-06-16 00:00:00+07:00 2023-06-15 16:00:00+07:00 2023-06-15 16:15:00+07:00  ,
 'dataGranularity': '1h',
 'range': '1wk',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [19]:
print(BBRI.actions)
print(BBRI.splits)

Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []
Series([], Name: Stock Splits, dtype: float64)

In [ ]:
BBRI.HIS

In [22]:
hist1m = BBRI.history(period="1mo")
hist1m

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-05-16 00:00:00+07:00,5175.0,5200.0,5100.0,5200.0,73611200,0.0,0.0
2023-05-17 00:00:00+07:00,5250.0,5250.0,5175.0,5200.0,115834500,0.0,0.0
2023-05-19 00:00:00+07:00,5225.0,5450.0,5200.0,5400.0,185672200,0.0,0.0
2023-05-22 00:00:00+07:00,5300.0,5500.0,5300.0,5425.0,162655900,0.0,0.0
2023-05-23 00:00:00+07:00,5475.0,5600.0,5475.0,5500.0,255251600,0.0,0.0
2023-05-24 00:00:00+07:00,5525.0,5600.0,5450.0,5600.0,187436100,0.0,0.0
2023-05-25 00:00:00+07:00,5500.0,5575.0,5450.0,5475.0,224391900,0.0,0.0
2023-05-26 00:00:00+07:00,5425.0,5600.0,5425.0,5600.0,154003100,0.0,0.0
2023-05-29 00:00:00+07:00,5600.0,5625.0,5475.0,5550.0,125049100,0.0,0.0
2023-05-30 00:00:00+07:00,5500.0,5600.0,5500.0,5500.0,67363200,0.0,0.0
2023-05-31 00:00:00+07:00,5575.0,5575.0,5375.0,5575.0,898453700,0.0,0.0
2023-06-05 00:00:00+07:00,5600.0,5600.0,5425.0,5425.0,255472600,0.0,0.0
2023-06-06 00:00:00+07:00,5400.0,5500.0,5350.0,5450.0,92019300,0.0,0.0
2023-06-07 00:00:00+07:00,5475.0,5475.0,5350.0,5400.0,150377000,0.0,0.0
2023-06-08 00:00:00+07:00,5375.0,5475.0,5350.0,5475.0,92794100,0.0,0.0
2023-06-09 00:00:00+07:00,5425.0,5450.0,5375.0,5425.0,77251000,0.0,0.0
2023-06-12 00:00:00+07:00,5400.0,5400.0,5375.0,5400.0,92314200,0.0,0.0
2023-06-13 00:00:00+07:00,5400.0,5550.0,5400.0,5550.0,108831400,0.0,0.0
2023-06-14 00:00:00+07:00,5575.0,5575.0,5475.0,5550.0,79137600,0.0,0.0
2023-06-15 00:00:00+07:00,5475.0,5525.0,5450.0,5525.0,74388400,0.0,0.0
2023-06-16 00:00:00+07:00,5475.0,5550.0,5400.0,5550.0,189062600,0.0,0.0

In [23]:
data=yf.download("BBRI.JK",start="2020-06-17",end=None)

[*********************100%***********************]  1 of 1 completed

              Open    High     Low   Close    Adj Close     Volume
Date
2020-06-17  3200.0  3200.0  3080.0  3100.0  2745.745605  218180800
2020-06-18  3050.0  3120.0  3040.0  3050.0  2701.459229  130942600
2020-06-19  3080.0  3110.0  3060.0  3100.0  2745.745605  166969600
2020-06-22  3100.0  3110.0  3030.0  3060.0  2710.316650   95377000
2020-06-23  3020.0  3060.0  2980.0  3010.0  2666.030273  171421500
...            ...     ...     ...     ...          ...        ...
2023-06-12  5400.0  5400.0  5375.0  5400.0  5400.000000   92314200
2023-06-13  5400.0  5550.0  5400.0  5550.0  5550.000000  108831400
2023-06-14  5575.0  5575.0  5475.0  5550.0  5550.000000   79137600
2023-06-15  5475.0  5525.0  5450.0  5525.0  5525.000000   74388400
2023-06-16  5475.0  5550.0  5400.0  5550.0  5550.000000  189062600

[731 rows x 6 columns]